.git
.gitignore
.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.uv-cache/
**/.venv/
tutorial-main2/
examples/results/
examples/graphic/bitmaps/
examples/graphic/*.o
examples/graphic/*.a
examples/graphic/*.d
examples/graphic/*.dep
examples/graphic/*.exe
examples/gnu/*.o
examples/gnu/*.a
examples/gnu/*.d
examples/gnu/*.dep
examples/gnu/*.exe
ga/*.o
ga/*.a
ga/BUILD
